.contact_margin{
    margin-top: 50px;
}
.sign_in {
    color: #F0A1BF;
}
.cont_txt{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #F0A1BF;
    margin-bottom: 10px;
}
.main_contact_form {
    padding-top: 50px;
}
.contact_us_heading h2 {
    text-align: center;
    padding: 10px 0 10px 0;
    color: #AAA;
    font-size: 30px;
}
.contact_material {
    position: relative;
    padding: 0;
    margin: 5px;
    border: none;
    overflow: visible;
}
.contact_material .input_field {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 10px 8px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #DDD;
    font-size: 120%;
    outline: none;
    cursor: text;
}

.contact_material .input_field::-webkit-input-placeholder {
    transition: color 300ms ease;
}

.contact_material .input_field:not(:focus)::-webkit-input-placeholder {
    color: transparent;
}

.contact_material .input_field_hr {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2px;
    border: none;
    background: #F0A1BF;
    font-size: 1px;
    will-change: transform, visibility;
    transition: all 200ms ease-out;
    transform: scaleX(0);
    visibility: hidden;
    z-index: 10;
}

.contact_material input:focus~hr {
    transform: scaleX(1);
    visibility: visible;
}


.contact_material label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 120%;
    color: #F0A1BF;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
}

.contact_material input:focus~label,
.contact_material input:valid~label {
    transform: scale(0.6);
}
.con_btn{
    background: #F0A1BF;
    color: #000;
}